$font_family : 'Montserrat', sans-serif;
$bg_color : #f0f0f0;
$primary_color : #1f3c66;
$primary_hover :#072441;
$secondary_color : #f1b72d;
$required_color : #ff1e1e;
$white_color : #f7f7f7;
$animation_button : .4s ease;
$box_shadow : rgba(34, 34, 34, 0.2) 0px 20px 30px;