@import './helpers/helpers_index';
@import './components/components_index';

body {
    background-color: $bg_color;
    scroll-behavior: smooth;
}

.wrapper{
    margin: 1.3rem auto -4rem;
}

.container.filter {
    padding: 1.5rem 4rem;
    margin-top: -1rem;
}

.col-md-3:last-child {
    display: flex;
    align-items: flex-end;

    .btn-outline-primary {
        border: 1px solid $primary_color;
        color: #0f0f0f;
        width: 100%;
        padding: 5px 8px;
        font-size: .9rem;
        height: 37px;
        transition: $animation_button;

        i {
            color: $primary_color;
        }

        &:hover {
            background-color: $primary_color;
            transition: $animation_button;
            color: $white_color;

            i {
                color: $white_color;
                transition: $animation_button;
            }
        }
    }
}

.container.table {
    padding: 0;
    box-shadow: $box_shadow;
}

.main {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: $box_shadow;
    margin-bottom: 2.5rem;

    .header {
        display: flex;
        align-items: center;
        background-color: $white_color;
        color: $primary_color;
        padding: .7rem 0 .7rem 1.5rem;
        border-bottom: 2px solid $primary_color;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        h6 {
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 1.1rem;
            gap: 5px;

            a:hover {
                text-decoration: none;
            }
        }
    }

    .body {
        padding: 1.5rem;
    }
}

.fas.fa-plus-circle.fa-lg{
    color: $primary_color;
    font-size: 1.8rem;
}

.fas.fa-plus-circle.fa-lg:hover{
    color: $primary_hover;
}

.tooltip-inner {
    font-size: .8rem;
}

td.no {
    text-align: center;
}

td.action {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .btn-primary{
        background-color: $primary_color;
        border-color: $primary_color;

        &:hover {
            background-color: $primary_hover;
            border-color: $primary_hover;
        }
    }

    .btn-primary, .btn-warning, .btn-outline-danger {
        font-size: .9rem;
        width: 5.2rem;
    }

    .btn-outline-danger {
        border: none;
    }

    p {
        color: #d4191f;
    }
}

@media screen and (max-width: 600px) {
    .container.filter {
        padding: 0 2rem;
    }

    .container.table {
        padding: 0 1rem;
    }

    .main {
        .header {
            padding-left: 1rem;
        }
        
        .body {
            padding: 1rem;
        }
    }

    .col-md-3:last-child {
        .btn-outline-primary {
            margin-bottom: 2.5rem;
        }
    }
}