@import './helpers/helpers_index';
@import './components/components_index';

body {
    background-color: $bg_color;
    scroll-behavior: smooth;
}

.wrapper{
    margin: 1.3rem auto -4rem;
}

.container.info {
    padding: 1.5rem 4rem;
    margin-top: -1rem;

    input {
        text-align: center;
        letter-spacing: .675px;
    }
}

.container.table {
    padding: 0;
}

.main {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: $box_shadow;
    margin-bottom: 2.5rem;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white_color;
        color: $primary_color;
        padding: .4rem 1.5rem;
        border-bottom: 2px solid $primary_color;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .body {
        padding: 1.5rem;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;

    h6 {
        margin: 0;
        font-size: 1.1rem;
    }

    a {
        display: flex;

        &:hover {
            text-decoration: none;
        }
    }
}

.icons {
    display: flex;
    align-items: center;
    gap: 7px;

    .btn {
        border: 1px solid $primary_color;
        border-radius: 20px;
        color: $primary_color;
        padding: .45rem .7rem;
        transition: $animation_button;

        &:hover {
            background-color: $primary_color;
            color: $white_color;
            transition: $animation_button;
        }
    }
}

.fas.fa-plus-circle.fa-lg{
    color: $primary_color;
    font-size: 1.8rem;
}

.fas.fa-plus-circle.fa-lg:hover{
    color: $primary_hover;
}

.tooltip-inner {
    font-size: .8rem;
}

th:first-child {
    width: 2rem;
}

th:nth-child(2) {
    text-align: center;
}

th:last-child {
    width: 7rem;
}

td:first-child {
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
}

td:last-child {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .btn-primary{
        background-color: $primary_color;
        border-color: $primary_color;

        &:hover {
            background-color: $primary_hover;
            border-color: $primary_hover;
        }
    }

    .btn-primary, .btn-warning, .btn-outline-danger {
        font-size: .9rem;
        width: 5.2rem;
    }

    .btn-outline-danger {
        border: none;
    }
}

.modal-body .btn.btn-warning.btn-sm{
    // padding: 8px 12px;
    padding: .5rem .9rem;
    margin-bottom: 15px;
    font-size: .8rem;
    // font-size: 12px;
    // border-radius: 20px;
}
.modal-body{
    font-size: 14px;
}
label.custom-file-label{
    padding-top: 8px;
}
.modal-footer .btn-btn-primary.btn-sm{
    width: 80px;
}

@media screen and (max-width: 600px) {
    .container.info {
        padding: 0 2rem;
    }

    .container.table {
        padding: 0 1rem;
        margin-top: 2.5rem;
    }

    .main {
        .header {
            padding: .4rem 1rem;
            gap: 10px;
        }
        
        .body {
            padding: 1rem;
        }
    }
}