*{
	overflow: hidden;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background: url('../img/bg.jpg') no-repeat fixed center;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

/* Left Side */
.left.col-md-8.slideInLeft{
	animation-duration: 1s;
}

/* right Side */
.right{
	animation-duration: 1s;
	flex: 25%;
	background-size: cover;
	position: relative;
	max-width: 100%;
}
.login{
	margin-top: 100px;
}
.form-group{
	padding: 5px;
	position: relative;
}
.row{
	display: flex;
}
.center{
	padding-top: 15px;
	margin: auto;
}
h2{
	text-align: center;
	margin-bottom: 35px;
	color: #093259;
	font-weight: 700;
}
input.form-control{
	background-color: transparent;
	width: 250px;
	color: #093259;
	padding: 20px;
	border: 1.5px solid rgba(9, 50, 89, 0.8);
	border-radius: 20px;
	letter-spacing: 2px;
	font-weight: 600;
}
.form-control:focus {
	border-color: rgba(9, 50, 89, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(9, 50, 89, 0.9);
	outline: 0 none !important;
}
::placeholder{
	color: #093259 !important;
	font-weight: 500;
}
input.form-control:focus{
	background-color: #fff;
	color: #093259;
}
i.fa.fa-eye-slash, .fa-eye{
	position: absolute;
	top: 18px;
	right: 20px;
	color: #fff;
	text-decoration: none;
	color: #093259;
}
.link{
	font-size: 0.8rem;
	margin: -15px 10px 12px 0;
}
.btn.btn-warning{
	position: relative;
	border-radius: 20px;
	width: 170px;
	text-align: center;
	font-weight: 500;
	transition: transform .4s ease;
}
.btn.btn-warning:hover{
	transform: translateY(-6px);
}
.center span{
	display: block;
}
span{
	text-align: center;
	font-size: 0.8rem;
	color: #093259;
}

@media screen and (max-width: 767px){
	body{
		background-image: url('../img/y.jpg');
	}
	.left .image{
		display: block;
		margin-left: 27px;
		margin-right: auto;
		width: 90% !important;
	}
	.login{
		margin-top: 0;
	}
	.right{
		margin-top: -110px;
	}
}