html{
	height: 100%;
}

body{
    height: 100%;
    font: 13px;
    background-color: #f0f0f0;
	animation-duration: 1s;
	font-family: 'Montserrat', sans-serif;
}

.navbar.navbar-expand-xl.navbar-dark.bg-dark{
	margin-bottom: 30px;
	border-bottom: 4px solid #ffb400;
	background-color: #1d3557 !important;

}

a.navbar-brand{
	width: 10%;
}

a.navbar-brand img{
	margin-top: -80px !important;
	margin-bottom: -75px !important;
	margin-left: 10px;
}

button.navbar-toggler{
	border: 1px solid #fff !important;
}

ul.navbar-nav{
	width: 100%;
	font-size: 15px;
}

ul.navbar-nav li{
	/*width: 30%;*/
	padding: 0 120px 0 120px;
	text-align: center;
}

ul.navbar-nav li.item{
	/*width: 18%;*/
	padding: 0 50px 0 50px;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 20px auto -60px;
}
.wrapper .container{
    padding: 0;
}

.main{
    box-shadow: 2px 2px 5px 2px rgba(209, 209, 209, 0.8);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.header{
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to right, #24416b, #2e548a);
    color: #fff;
    padding: 8px 0 0 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.body{
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

h6{
    font-size: 17px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-weight: 500
}

/* Event's Box */
.event .body{
    font-size: 15px;
}

.division p.name, .quantity p.name{
    margin-top: 30px;
    font-size: 16px;
}

.quantity p{
    margin-top: -10px;
}

.col-6 p.name{
    margin-top: 20px;
    font-size: 16px;
}

.fas.fa-male.fa-2x, .fas.fa-female.fa-2x{
    color: #0652DD;
}

.fas.fa-user-check.fa-lg{
    color: #2ed573;
}

.fas.fa-user-clock.fa-lg{
    color: #EA2027;
}

/* Custom Calendar */
thead.fc-head{
    background-color: #dfe6e9;
}

button.fc-today-button{
    height: 30px;
    padding-top: 4px;
    font-size: 13px;
}

button.fc-prev-button.fc-button.fc-button-primary, button.fc-next-button.fc-button.fc-button-primary{
    padding-top: 2.5px;
    height: 30px;
}

.fc-unthemed td.fc-today{
    background-color: #fdb035;
}

span.fc-title, span.fc-time{
    color: #fff;
}

.fc-header.fc-widget-header{
    background-color: #000 !important;
}

.fc-day-grid-event > .fc-content {
    white-space: normal;
    text-overflow: ellipsis;
    max-height: 15px;
}

.fc-day-grid-event > .fc-content:hover {
    max-height:none!important; 
}
#calendar{
    font-size: 15px;
}

/* Chart Box */
.chart p{
    font-size: 16px;
}

.chart .header{
    background-image: linear-gradient(to right, #24416b, #2e548a, #24416b);
}

.row.bottom{
    margin-top: 30px;
    margin-bottom: 40px;
}

.main .chart{
    font-size: 15px;
}

.input-group.col-md-4{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    margin-top: 0;
    border-top: 1px solid #292929;
}

.footer-inner {
    padding: 15px 0;
    font-size: 12px;
    background: #111;
    color: #999;
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #FFF;
    text-decoration: none;
}

.card{
    max-width: 100px;
    float: right;
}

.modal-header.detail{
    padding-left: 310px;
}

/* Navbar */
.navbar.navbar-expand-xl.navbar-dark.bg-dark{
	margin-bottom: 30px;
	border-bottom: 4px solid #ffb400;
	background-color: #1d3557 !important;

}

a.navbar-brand{
	width: 10%;
}

a.navbar-brand img{
	margin-top: -80px !important;
	margin-bottom: -75px !important;
	margin-left: 10px;
}

button.navbar-toggler{
	border: 1px solid #fff !important;
}

ul.navbar-nav{
	width: 100%;
	font-size: 15px;
}

ul.navbar-nav li{
	/*width: 30%;*/
	padding: 0 120px 0 120px;
	text-align: center;
}

ul.navbar-nav li.item{
	/*width: 18%;*/
	padding: 0 50px 0 50px;
}

/* Dropdown User */
.logout .dropdown{
    float: right;
    margin: -10px 7% 20px 0;
}

a.dropdown-toggle{
    text-decoration: none;
    color: #000;
}

a.dropdown-toggle span{
    font-size: 0.9rem;
	font-weight: bold;
}

a.dropdown-item.reset{
    cursor: pointer;
}

a.dropdown-item{
	font-size: 0.85rem;
}

h5.modal-title{
	color: #093259;
	font-weight: 600;
	font-size: 1.2rem;
}

/* Modal */
.dropdown-toggle::after{
	display: none !important;
}

a.dropdown-item:hover{
	background-color: #16303d;
	color: #fff !important;
	cursor: pointer;
}

.modal-body p:first-of-type{
	text-transform: capitalize;
}

/* Modal reset password */
span.text-danger{
    font-size: 12px;
}

.modal-body .form-group i.fa.fa-eye-slash, .modal-body .form-group i.fa-eye{
	float: right;
	margin-top: -27px;
	margin-right: 10px;
	position: relative;
	text-decoration: none;
	color: #093259;
}

.modal-body .form-group span.icon{
    margin-left: -2px !important;
    color: red;
}

.modal-body .form-group label{
	font-size: 0.8rem;
}

.modal-body button.btn.btn-success{
	margin-top: 5px;
}

.modal-footer .btn.btn-primary.btn-sm{
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 20px;
	width: 80px; 
	background-color: #294b7a;
	border: none;
}

.modal-footer .btn.btn-primary.btn-sm:hover{
	background-color: #1a2f4d;
}

/* Pop Up */
.container-fluid.popup{
	font-size: 0.9rem;
	text-align: center;
}

/* Button Scroll To Top */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: #294b7a;
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
#myBtn:hover {
	background-color: #1a2f4d;
}

/* Footer */
#push, #footer{
    height: 60px;
}

#footer{
    background-color: #141414;
    color: #fff;
    padding-top: 20px;
}

#footer .container p{
    font-size: 13px;
}

/* Responsive layout */
@media screen and (max-width: 600px){
    .wrapper .container{
        padding: 0 25px 0 25px;
    }

    .col-md-6.right{
        margin-top: 30px;
    }

    .footer{
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .col-md-6.col-sm-12.pie{
        margin-top: 50px;
    }
}

/* Responsive layout */
@media screen and (max-width: 600px){
	a.navbar-brand img{
		margin-left: 0px !important;
	}

	ul.navbar-nav li, ul.navbar-nav li.item{
		padding: 0;
	}

	ul.navbar-nav li a{
		padding: 15px;
		margin-left: 10px;
	}

	#footer{
		padding-top: 0;
	}

	#footer .container p{
		text-align: center;
	}
}

@media screen and (max-width: 992px){
	ul.navbar-nav li{
		padding: 10px;
	}
	.dropdown-divider{
		margin: 0;
	}
}